/* LightBox : Reglas del Concurso --------------------------------------------------------------------- */
div.lightbox {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999995;
	opacity: 0.9;
	filter: Alpha(opacity=90);
	margin: 0px;
	padding: 0px;
}
.termsbox, .hotel_details {
	display: none;
	position: absolute;
	width: 620px;
	height: 480px;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -240px;
	z-index: 999996;
}
.termsbox .closebtn, .sharebg .closebtn, .hotel_details .closebtn {
	display: block;
	position: absolute;
	top: -5px;
	left: 560px;
	width: 47px;
	height: 51px;
	text-indent: -99999px;
	background: transparent url(../images/close_btn.png) no-repeat;
}
.termsbox h1.lightheader, .sharebg h1.lightheader, .hotel_details h1.lightheader {
	display: block;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	height: 35px;
	padding: 10px 0px 0px 10px;
	border-radius: 6px 6px 0px 0px;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	border-top: solid 1px #000;
	border-bottom: solid 4px #9e0101;
	background: #719e13;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxOWUxMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTViMDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #719e13 0%, #355b02 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#719e13), color-stop(100%,#355b02));
	background: -webkit-linear-gradient(top,  #719e13 0%,#355b02 100%);
	background: -o-linear-gradient(top,  #719e13 0%,#355b02 100%);
	background: -ms-linear-gradient(top,  #719e13 0%,#355b02 100%);
	background: linear-gradient(to bottom,  #719e13 0%,#355b02 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#719e13', endColorstr='#355b02',GradientType=0 );
}
.termsinfo {
	height: 450px;
	padding: 25px 15px 10px 15px;
	border-radius: 0px 0px 6px 6px;
	border: solid 1px #CCC;
	background: #FFF;
}
.termsinfo p {
	color: #464646;
	margin: 0px 0px 15px 0px;
	font-size: 13px;
	line-height: 20px;
}

/* LightBox : Sharing Steps --------------------------------------------------------------------- */
.sharebg {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 650px;
	height: 300px;
	margin-left: -325px;
	margin-top: -150px;
	border-radius: 15px;
	padding: 5px;
	z-index: 999997;
}
.sharebg .closebtn { top: 0px; left: 600px; }
.sharenav { overflow: hidden; }
.sharenav li {
	float: left;
	color: #6ea100;
	font-size: 14px;
	margin: 0px 30px 0px 0px;
	padding: 5px 0px 5px 34px;
}
.sharenav li.selected { color: #FFF; }
.sharenav li#invite { background: transparent url(../images/sharing_steps.png) no-repeat 0px -78px;  }
.sharenav li#invite.selected { background: transparent url(../images/sharing_steps.png) no-repeat 0px -3px; }
.sharenav li#fbwall { background: transparent url(../images/sharing_steps.png) no-repeat 0px -102px; }
.sharenav li#fbwall.selected { background: transparent url(../images/sharing_steps.png) no-repeat 0px -27px; }
.sharenav li#twitter { background: transparent url(../images/sharing_steps.png) no-repeat 0px -127px; }
.sharenav li#twitter.selected { background: transparent url(../images/sharing_steps.png) no-repeat 0px -52px; }
.sharecontent {
	height: 225px;
	border: 1px solid #b4b4b4;
	border-top: none;
	border-radius: 0px 0px 5px 5px;
	margin: 0px;
	padding: 20px;
	background: #ffffff;
}
.invitations { margin: 15px 0px 0px 0px; }
.invitations h3 {
	font-size: 28px;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
}
.invitations h3 abbr { color: #898989; font-size: 18px; font-weight: normal; }
.invitations p {
	color: #636363;
	font-size: 14px;
	line-height: 22px;
	margin: 0px 0px 30px 0px;
}
.invitations span.points.biggest {
	font-size: 50px;
	color: #FFF;
	width: 94px;
	height: 74px;
	padding: 35px 20px 20px 19px;
	margin: 0px 20px 80px 0px;
	background: transparent url(../images/points_bg_yellow_biggest.png) no-repeat;
}
.invitations a.blue_btn, .invitations a.blue_btn:active, .invitations a.blue_btn:visited, .invitations a.blue_btn:link {
	font-size: 14px;
	padding: 12px 20px;
}
.invitations a.skip, .invitations a.skip:active, .invitations a.skip:visited, .invitations a.skip:link {
	display: block;
	color: #345b01;
	text-decoration: underline;
	font-size: 14px;
	margin: 14px 156px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}
#share_fb, #share_twitter { display: none; }

/* LightBox : Hotel Details --------------------------------------------------------------------- */
.hotel_details {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 620px;
	height: 300px;
	margin-left: -325px;
	margin-top: -150px;
	border-radius: 15px;
	padding: 5px;
	z-index: 999997;
}
.hotel_details .closebtn { top: 0px; }
.hotel_info {
	height: 450px;
	padding: 20px;
	border-radius: 0px 0px 6px 6px;
	border: solid 1px #CCC;
	background: #FFF;
}
.hotel_info h2 {
	margin: 0px 0px 10px 0px;
}
.hotel_info p {
	color: #464646;
	margin: 0px 0px 15px 0px;
	font-size: 13px;
	line-height: 20px;
}

